{% if page.previous or page.next %}
<nav class="pagination">
  {% if page.previous and page.title != "System Requirement" %}
  <div class="previous">
    <div class="container">
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager"
        title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}
        <h2 class="titlePreview">{{ page.previous.title}}
        </h2>
      </a>
    </div>
  </div>
  {% else %}
  <!-- <a href="#"
    class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a> -->
  {% endif %}
  {% if page.next and page.title != "Demos" %}
  <div class="next">
    <div class="container">
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager"
        title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}
        <h2 class="titlePreview">{{ page.next.title}}
        </h2>
      </a>
    </div>
  </div>
  {% else %}
  <!-- <a href="#"
    class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a> -->
  {% endif %}
</nav>
{% endif %}
