---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial, sans-serif !default;
$text-color: #152935;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    font-size: 18px;
}

.page__title {
    margin-top: 2rem;
    padding-left: 2rem;
}

.page__content {
    padding-left: 2rem;
    font-size: 0.9rem;
    font-weight: 350;
}

.page__taxonomy {
    display: none;
}

.sidebar .nav__list a {
    padding: 0.4rem 0;
    display: flex;
    position: relative;
}

.pagination {
    grid-template-columns: 1fr 20rem 20rem 1fr;
    margin: 0 0 1rem 0rem !important;
    padding: 0 !important;
    border-top: 0px !important;
}

.pagination .previous {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-end;
    box-shadow: inset -1px 0px 0px 0px #f3f3f3;
    z-index: 1;
}

.pagination .previous, .pagination .next {
    background-color: white;
    height: 10rem;
    display: inline;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.pagination .previous .container, .pagination .next .container {
    flex-basis: 20rem;
}

.pagination .previous .container, .pagination .next .container {
    flex-shrink: 0;
    flex-grow: 0;
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 0rem;
}

.pagination .previous .container .pagination--pager, .pagination .next .container .pagination--pager {
    display: block;
    margin-top: 1rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #68737c;
    flex-grow: 0;
    height: 6rem;
}

.pagination .previous .container .titlePreview, .pagination .next .container .titlePreview {
    flex-grow: 1;
    display: block;
    align-items: flex-start;
    margin: 0;
    padding-top: 0.5rem;
    text-transform: none;
    font-weight: 400;
}

.pagination--pager {
    border: 1px solid #f3f3f3;
}

.pagination--pager:hover {
    background-color: white;
    box-shadow: inset 0px 0px 0px 1px #8897a2;
    z-index: 1;
}

.masthead__inner-wrap {
    max-width: 100%;
    background: #000;
}

#site-nav {
  background: #000;
}

.site-title {
  color: #fff !important;
  font-size: 0.875rem;
}

.search__toggle {
  color: #fff;
}

#main {
   margin-left: 1.5rem;
   max-width: 100% !important;
}

.toc {
  position: fixed;
  top: 118px;
  width: 13.5rem;
  max-width: 13.5rem;
  overflow-y: auto;
  height: calc(100vh - 10em);
}

.page {
  padding-right: 250px;
}

.sidebar.sticky {
  border-right: 1px solid #f3f3f3;
}

.page__footer footer {
  font-size: 0.8rem;
  margin-top: 1em;
  padding: 0 1em 1em;
}

.page__footer {
  z-index: -1;
}

.layout--single {
  margin-bottom: 4rem !important;
}
